@model Frelsex.Models.Spedizione

@{
    ViewBag.Title = "Dettagli Spedizione";
}

<h2>Dettagli Spedizione</h2>

<div>
    <h4>Spedizione</h4>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroIdentificativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSpedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CittàDestinataria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CittàDestinataria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndirizzoDestinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndirizzoDestinatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NominativoDestinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominativoDestinatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoSpedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConsegnaPrevista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConsegnaPrevista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stato)
        </dd>

    </dl>
</div>

<div class="mt-4">
    <h2>Storico Aggiornamenti</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Data e Ora</th>
                    <th>Stato</th>
                    <th>Luogo</th>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aggiornamento in Model.AggiornamentiSpedizione.OrderBy(a => a.DataOraAggiornamento))
                {
                    <tr>
                        <td>@aggiornamento.DataOraAggiornamento.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@aggiornamento.Stato</td>
                        <td>@aggiornamento.Luogo</td>
                        <td>@aggiornamento.Descrizione</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Torna alla lista", "Index", null, new { @class = "btn btn-secondary" })
</p>