@model IEnumerable<Frelsex.Models.Spedizione>

@{
    ViewBag.Title = "Spedizioni";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>Elenco Spedizioni</h2>

<p>
    @Html.ActionLink("Crea Nuova Spedizione", "Create", null, new { @class = "btn btn-primary" })
</p>

    <div>@Html.ActionLink("Spedizioni", "SearchSpedizione", "Spedizioni", new { area = "" }, new { @class = "btn btn-sm btn-outline-secondary my-2" })</div>



@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title">Spedizione @item.NumeroIdentificativo</h5>
                    <p class="card-text">
                        <strong>Cliente ID:</strong> @item.IDCliente<br>
                        <strong>Data Spedizione:</strong> @item.DataSpedizione.ToShortDateString()<br>
                        <strong>Peso:</strong> @item.Peso<br>
                        <strong>Città Destinataria:</strong> @item.CittàDestinataria<br>
                        <strong>Indirizzo Destinatario:</strong> @item.IndirizzoDestinatario<br>
                        <strong>Nominativo Destinatario:</strong> @item.NominativoDestinatario<br>
                        <strong>Costo Spedizione:</strong> @item.CostoSpedizione<br>
                        <strong>Data Consegna Prevista:</strong> @item.DataConsegnaPrevista.ToShortDateString()<br>
                        <strong>Stato:</strong> @item.Stato
                    </p>
                    <a href="@Url.Action("Edit", "Spedizioni", new { id = item.ID })" class="btn btn-primary">Modifica</a>
                    <a href="@Url.Action("Details", "Spedizioni", new { id = item.ID })" class="btn btn-secondary">Dettagli</a>
                    <a href="@Url.Action("Delete", "Spedizioni", new { id = item.ID })" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </div>
    </div>
}
