@model IEnumerable<Frelsex.Models.Spedizione>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroIdentificativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CittàDestinataria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndirizzoDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NominativoDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsegnaPrevista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroIdentificativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CittàDestinataria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndirizzoDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NominativoDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsegnaPrevista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stato)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
