@model IEnumerable<Frelsex.Models.Utente>

@{
    ViewBag.Title = "Index";
}

<h2>Index degli Utenti</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger">
    @TempData["ErrorMessage"]
</div>
}
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Crea Nuovo", "Create", null, new { @class = "btn btn-outline-primary" })
    </p>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary" }) 
                        @Html.ActionLink("Dettagli", "Details", new { id = item.ID }, new { @class = "btn btn-outline-secondary" }) 
                        @Html.ActionLink("Elimina", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>