@model IEnumerable<Frelsex.Models.Cliente>

@{
    ViewBag.Title = "Index";
    var clientiPrivati = Model.Where(c => !c.IsAzienda).ToList();
    var aziende = Model.Where(c => c.IsAzienda).ToList();
}

@{
if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
}

<h2>Index</h2>

@if (clientiPrivati.Any())
{
    <h3>Clienti Privati</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.CodiceFiscale)</th>
            <th></th>
        </tr>

        @foreach (var item in clientiPrivati)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.CodiceFiscale)</td>
                <td class="d-flex gap-2">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "nav-link" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "nav-link" })
                </td>
            </tr>
        }
    </table>
}

@if (aziende.Any())
{
    <h3>Aziende</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.PartitaIVA)</th>
            <th></th>
        </tr>

        @foreach (var item in aziende)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.PartitaIVA)</td>
                <td class="d-flex gap-2">

                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "nav-link" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "nav-link" })
                </td>
            </tr>
        }
    </table>
}

@if (!clientiPrivati.Any() && !aziende.Any())
{
    <p>Non ci sono clienti da mostrare.</p>
}
